# virtual environments
venv/
nikkei_api/venv/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# Shiny deployment cruft
nikkei_shiny/rsconnect/
